# Clock Inputs
set_io osdClk 20
set_io tcxo 29
set_io gnssPPS 32

# SPI Interface
set_io fpgaMISO 12
set_io fpgaSCK 15
set_io fpgaNSS 14
set_io fpgaMOSI 13

# Octature clock outputs
set_io nPh[0] 1
set_io nPh[1] 5
set_io nPh[2] 8
set_io nPh[3] 2
set_io nPh[4] 18
set_io nPh[5] 22
set_io nPh[6] 23
set_io nPh[7] 19
